<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
<!--      <property name="connection.url">BD_URL</property>-->
<!--      <property name="connection.driver_class">Driver</property>-->
<!--      <property name="connection.username">BD_USERNAME</property>-->
<!--      <property name="connection.password">BD_PASSWORD</property>-->
<!--      <property name="show_sql">true</property>-->
<!--      <property name="format_sql">true</property>-->
<!--      <property name="dialect">SELECT DIALECT</property>-->
<!--      <property name="default_schema">optional default schema</property>-->

      <mapping class="ru.khloptsev.hibernate.starter.entity.User" />
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>